---
import type { TeamMember } from "../types";

interface Props {
  member: TeamMember;
}

const { member } = Astro.props;

const transitionName = `member-${member.name.replace(/\s+/g, "-").toLowerCase()}`;
---

<div
  class="items-center h-full grid grid-cols-7"
  transition:name={transitionName}
>
  <img
    width="100"
    height="133"
    loading="lazy"
    class="aspect-[3/4] h-full object-cover flex-shrink-0 col-span-3"
    src={member.img}
    alt={member.name}
  />
  <div
    class="flex flex-col justify-between h-full ml-2 flex-grow col-span-4 p-2"
  >
    <div>
      <h3 class="font-semibold text-fg-0 text-sm">{member.name}</h3>
    </div>
    <div>
      <p class="text-xs text-fg-1">{member.title}</p>

      {
        (member.linkedin || member.github) && (
          <div class="flex items-center gap-3 mt-2 ">
            {member.linkedin && (
              <a
                href={member.linkedin}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`${member.name}'s LinkedIn Profile`}
                class="text-fg-1 hover:text-fg-0 transition-colors bg-fg-0/20 p-1"
              >
                <img
                  src="/icons/linkedin.svg"
                  alt="linkedin icon"
                  class="w-3.5 h-3.5"
                  loading="lazy"
                  decoding="async"
                />
              </a>
            )}
            {member.github && (
              <a
                href={member.github}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`${member.name}'s Github`}
                class="text-fg-1 hover:text-fg-0 transition-colors bg-fg-0/5 hover:bg-fg-0/10 p-1.5 rounded-sm"
              >
                <img
                  src="/icons/github.svg"
                  alt=""
                  class="w-3.5 h-3.5"
                  loading="lazy"
                  decoding="async"
                />
              </a>
            )}
          </div>
        )
      }
    </div>
  </div>
</div>
