---
import type { TeamMember } from "../types";

interface Props {
  member: TeamMember;
}

const { member } = Astro.props;

const transitionName = `member-${member.name.replace(/\s+/g, "-").toLowerCase()}`;
---

<div
  class="items-center h-full grid grid-cols-7"
  transition:name={transitionName}
>
  <img
    width={100}
    height={100}
    loading="eager"
    class="aspect-[3/4] h-full object-cover flex-shrink-0 col-span-3"
    src={member.img}
    alt={member.name}
  />
  <div
    class="flex flex-col justify-between h-full ml-2 flex-grow col-span-4 p-2"
  >
    <div>
      <h3 class="font-semibold text-fg-0 text-sm">{member.name}</h3>
    </div>
    <div>
      <p class="text-xs text-fg-1">{member.title}</p>

      {
        (member.linkedin || member.github) && (
          <div class="flex items-center gap-3 mt-2 ">
            {member.linkedin && (
              <a
                href={member.linkedin}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`${member.name}'s LinkedIn Profile`}
                class="text-fg-1 hover:text-fg-0 transition-colors bg-fg-0/20 p-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                  <rect x="2" y="9" width="4" height="12" />
                  <circle cx="4" cy="4" r="2" />
                </svg>
              </a>
            )}
            {member.github && (
              <a
                href={member.github}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`${member.name}'s Github Profile`}
                class="text-fg-1 hover:text-fg-0 transition-colors bg-fg-0/20 p-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                </svg>
              </a>
            )}
          </div>
        )
      }
    </div>
  </div>
</div>
